//= require PixelAdmin/bootstrap.min
//= require PixelAdmin/pixeladmin.min
//= require PixelAdmin/widgets.min
//= require PixelAdmin/themes/default.min

@import "font-awesome";
@import "pixeladmin_logo";

table.top_border_none tr:first-child > td { border-top: 0; }

#dashboards {
  .panel h2 {
    margin-top: 10px;
    margin-bottom: 15px;
  }
}

#sharks {
  .logo img {
    width: 128px;
    height: 128px;
  }

  .banner img {
    width: 240px;
    height: 126px;
  }

  .upload {
    &.logo img, &.banner img {
      cursor: pointer;
    }
  }

  #dropzone_photo .dz-image-preview {
    cursor: move;
  }
}

#users {
  .avatar img {
    cursor: pointer;
    width: 200px;
    height: 200px;
  }
}

