//= require PixelAdmin/bootstrap.min
//= require PixelAdmin/pixeladmin.min
//= require PixelAdmin/widgets.min
//= require PixelAdmin/themes/default.min

#sharks {
  .logo img {
    cursor: pointer;
    width: 128px;
    height: 128px;
  }

  .banner img {
    width: 240px;
    height: 126px;
  }
}
