//= require PixelAdmin/bootstrap.min
//= require PixelAdmin/pixeladmin.min
//= require PixelAdmin/widgets.min
//= require PixelAdmin/themes/default.min

//-- sing_in --
.page-signin-header {
  box-shadow: 0 2px 2px rgba(0,0,0,.05), 0 1px 0 rgba(0,0,0,.05);
}

.page-signin-header .btn {
  position: absolute;
  top: 12px;
  right: 15px;
}

html[dir="rtl"] .page-signin-header .btn {
  right: auto;
  left: 15px;
}

.page-signin-container {
  width: auto;
  margin: 30px 10px;
}

.page-signin-container form {
  border: 0;
  box-shadow: 0 2px 2px rgba(0,0,0,.05), 0 1px 0 rgba(0,0,0,.05);
}

@media (min-width: 544px) {
  .page-signin-container {
    width: 350px;
    margin: 60px auto;
  }
}

.page-signin-social-btn {
  width: 40px;
  padding: 0;
  line-height: 40px;
  text-align: center;
  border: none !important;
}

#page-signin-forgot-form { display: none; }
//-- end sing_in --

//-- sing_up --
.page-signup-header {
  box-shadow: 0 2px 2px rgba(0,0,0,.05), 0 1px 0 rgba(0,0,0,.05);
}

.page-signup-header .btn {
  position: absolute;
  top: 12px;
  right: 15px;
}

html[dir="rtl"] .page-signup-header .btn {
  right: auto;
  left: 15px;
}

.page-signup-container {
  width: auto;
  margin: 30px 10px;
}

.page-signup-container form {
  border: 0;
  box-shadow: 0 2px 2px rgba(0,0,0,.05), 0 1px 0 rgba(0,0,0,.05);
}

@media (min-width: 544px) {
  .page-signup-container {
    width: 350px;
    margin: 60px auto;
  }
}

.page-signup-social-btn {
  width: 40px;
  padding: 0;
  line-height: 40px;
  text-align: center;
  border: none !important;
}
//-- end sing_up --

.px-demo-logo {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 9px;
  margin-top: 16px;
  display: inline-block;
}

.px-demo-logo-1,
.px-demo-logo-2,
.px-demo-logo-3,
.px-demo-logo-4,
.px-demo-logo-5,
.px-demo-logo-6,
.px-demo-logo-7,
.px-demo-logo-8,
.px-demo-logo-9 {
  display: block;
  width: 6px;
  height: 6px;
  float: left;
}

.px-demo-logo-1 { background: rgba(255, 255, 255, .25); }
.px-demo-logo-2 { background: rgba(255, 255, 255, .4); }
.px-demo-logo-3 { background: rgba(255, 255, 255, .65); }
.px-demo-logo-4 { background: rgba(255, 255, 255, .6); }
.px-demo-logo-5 { background: rgba(255, 255, 255, .15); }
.px-demo-logo-6 { background: rgba(255, 255, 255, .4); }
.px-demo-logo-7 { background: rgba(255, 255, 255, .3); }
.px-demo-logo-8 { background: rgba(255, 255, 255, .6); }
.px-demo-logo-9 { background: rgba(255, 255, 255, .25); }


.px-demo-brand {
  font-size: 14px !important;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 700;
  display: inline-block;
}

/* Large logo */

.px-demo-brand-lg {
  font-size: 17px !important;
}

.px-demo-brand-lg .px-demo-logo {
  width: 24px;
  height: 24px;
}

.px-demo-brand-lg .px-demo-logo-1,
.px-demo-brand-lg .px-demo-logo-2,
.px-demo-brand-lg .px-demo-logo-3,
.px-demo-brand-lg .px-demo-logo-4,
.px-demo-brand-lg .px-demo-logo-5,
.px-demo-brand-lg .px-demo-logo-6,
.px-demo-brand-lg .px-demo-logo-7,
.px-demo-brand-lg .px-demo-logo-8,
.px-demo-brand-lg .px-demo-logo-9 {
  width: 8px;
  height: 8px;
}

